body{
    background-color: aliceblue;
}
.foto{
    width: 180px;
    height: 100px;
}
img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 480px) {
}

@media screen and (min-width:481px) and (max-width:768px) {

}