.texto{
    color: black;
    text-align: center;
    display: block;
    position: absolute;
    width: 50%;
    height: 15%;
    margin-bottom: 3%;
    margin-left: 25%;
}
h1{
    margin-top: 10%;
    font-size: 1.5rem;
}
.imgen{
    align-items: center;
    position: absolute;
    right: 0;
    left: 20%;
    display: inline-block;
    width: 60%;
    height: 30%;
}
img{
    width: 40%;
    height: 20%;
}