body{
    background-color: rgb(232, 253, 174);
}
h2{
    font-size: 1.3rem;
    margin-top: 3px;
    margin-bottom: 3px;
}
h1{
    font-size: 1.1rem;
    margin-top: 3px;
    margin-bottom: 3px;
}
p{
    font-size: 1.05rem;
    margin-top: 3px;
    margin-bottom: 3px;
}
#contenido{
    background-color: rgb(82, 167, 141);
    position: absolute;
    align-items: center;
    right: 0;
    left: 0;
    display: inline-block;
    width: 80%;
    height: 90%;
    border: black;
    color: black;   
}