.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: lightblue;
    width: 420px;
    height: 500px;
    border-radius: 25px;
}
button{
    display: block;
    width: 70px;
    height: 70px;
    font-size: 1rem;
}
#respuesta{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    width: 370px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    border-radius: 25px;
    overflow: scroll;
}